.banner-image img{
    width: 100%;
    
}
.banner{
    width: 100%;
    position: relative;
}
.banner-text{
    position: absolute;
    top: 190px;
    left: 600px;
}
.banner-text h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.banner-text .search{
    margin-left: 55px;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    position: relative;
    border: 0px solid;
}
.banner-text .submit{
    left: 400px;
    border-radius: 20px;
    height: 40px;
    width: 90px;
    position: absolute;
    background-color: #F91944;
    border: 0px solid;
}